        <div class="content-header row">
          <div class="content-header-left col-md-6 col-xs-12 mb-1">
            <h2 class="content-header-title">Products Table</h2>
            
          </div>
        </div>
        <div class="content-body">
<div class="col-xs-12">
    
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Table options</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Quantity</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Company</th>
                                <th>Price</th>
                                <th>Sell Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <th scope="row">{{pquantity}}</th>
                                <td>{{pname}}</td>
                                <td>{{pcode}}</td>
                                <td>{{pcompany}}</td>
                                <td>{{price}}</td>
                                <td>{{pprice}}</td>
                                 <td>
                                    <button type="button" class="btn btn-sm btn-warning btn-block" data-toggle="modal" data-target="#exampleModalCenter1">Edit</button>
                                    {{> management/edit }}
                                    <button type="button" class="btn btn-sm btn-danger btn-block" data-toggle="modal" data-target="#exampleModalCenter">Delete</button>
                                        {{> management/alert }}
                                    
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                        <thead class="thead-inverse">
                            <tr>
                                <th>Quantity</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Company</th>
                                <th>Price</th>
                                <th>Sell Price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                    </table>  
                </div>
            </div>
        </div>
    </div>
        </div>
        </div>
        </div>